@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');


body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    transition: transform 1.4s;
}

.stats-card:hover {
    transform: scale(1.03);
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    transition: box-shadow 0.85s, transform 0.85s;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.03);
}

#button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

#button-container button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#button-container button:active {
    background-color: lightblue;
}

@media (max-width: 470px) {
    .stats-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats-card {
        width: 90%;
    }
}